body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 20px 20px;
  max-width: 680px;
  margin: 0 auto;
  color: white;
  background-color: #232323;
}

a {
  color:#fff;
  
  &:hover{
    text-decoration: underline;
    transform:translateY(10px);
  }
}

.title {
  h1 {
    color: chartreuse;
  }
}

.contact-link {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  color: chocolate;
}
